<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http=equiv='Content-Type'/>
  </head>
  
  <body>
    <p>
      Hi!
    </p>
    <br />
    <p>
      This email is just to let you know your message has been sent.
      Thanks for getting in touch. I'll get back to you soon :)

      -JO
    </p>
  </body>
</html>