<div class="col-xs-6 col-xs-offset-3 about">
  <h1>RebelCl0udMedia</h1>
  </br>
  <p>
    RebelCl0udMedia (still a W.I.P.) manifested the moment roads converged. I'm a compositor that expanded into developing. <i>I like learning stuff.</i> Since I had been wanting to move my compositing projects from one of those quick builder sites I made one-- this one :)
  </p>
</div>
</br>