<div class="col-xs-10 col-xs-offset-1 about">
  <h1>RebelCl0ud Media</h1>
  </br>

  <p>
    RebelCl0ud Media (still a W.I.P.) manifested the moment roads converged-- this site was born out of the want to house all types of projects under one roof.
  </p>


</div>
  </br>