<div class="col-xs-10 col-xs-offset-1 about">
  <h1>RebelCl0udMedia</h1>
  </br>
  <p>
    RebelCl0udMedia (still a W.I.P.) manifested the moment roads converged-- I'm a compositor that expanded into developing. I like learning stuff. Anyway, I had been wanting to move my compositing projects from one of those quick builder sites so I made one-- this one :) 
  </p>
</div>
</br>