<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http=equiv='Content-Type'/>
  </head>
  
  <body>
    <%= @contact.email %>
    <br /> 
    <%= @contact.name %>
    <br /><br />
    <%= @contact.message %>
  </body>
</html>