<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http=equiv='Content-Type'/>
  </head>
  
  <body>
    <p>
      Hi <%=@contact.name%>!
    </p>
    <br />
    <p>
      This email is just to let you know your message has been sent :)

      -JO
    </p>
  </body>
</html>