/* Sticky footer styles
-------------------------------------------------- */
html, body {
  height: 100%;
}

.about {
  min-height: 100%;
  height: auto;
}

.footer {
  height: auto;
  /* Trebuchet-based sans serif stack */
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
}