@-ms-viewport{
  width: device-width;
}

.clear {
  clear:both;
}

.title {
  font-family: 'quicksandlight';
  font-size: 20px;
  padding-top: 30px;
  text-align:left;
}

.title a {
  color: black; 
  text-decoration: none;
}

.links {
  padding-top: 30px;

}

.links a {
  font-family: 'quicksandlight';
  color: black;
  font-size: 15px;
  
}

hr {
  clear:both;
}

h1 {
  font-family: 'quicksandlight';
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.about {
   /* Trebuchet-based sans serif stack */
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-size: 15px;
  
}

.header {
  border-top: 20px solid #00BFFF;
}

a > rebelred {
  color:#FF0000;
}

.video {
 
}

.contact {
  padding-top: 120px;
}





